* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

h1 {
    width: fit-content;
    display: flex;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: black;
    font-family: "JetBrains Mono", sans-serif;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.image {
    width: 20rem;
    height: 25rem;
    border-radius: 2rem;
    background-image: url("./img/cutegif.gif");
    background-position: center;
    background-size: cover;
}

.btns {
    position: relative;
    width: 20rem;
    display: flex;
    justify-content: space-between;
]
}

button {
    padding: 1rem 3rem;
    box-shadow: 39px 7px 8px 0px rgba(34, 60, 80, 0.2);
    border: none;
    border-radius: 10%;
    border: 1px solid gray;
}

#yessir {
    margin-left: 13rem;
    background-color: #FFF;
    transition: 0.3s all ease-in-out;
}

body {
    background-color: deeppink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nooo {
    position: absolute;
    left: 0;
    transition: 0.2s all ease-in-out;
}

#yessir:hover {
    background-color: hotpink;
}

p{
    font-family: "JetBrains Mono",sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

span{
    font-family: "Bodoni MT Black",sans-serif;
    color:pink;
}